h2{
    
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: rgb(70, 70, 70);
    margin-top:2.2rem ;
    margin-left: 0.2rem;

}
.playrow{
    display: flex;
    flex-direction: row;
}
.jigleft{ 
    position: absolute;
    left: 20%;
    top:0%;
}
.popup {

    display: block;
    flex-direction: column;
    text-align: center;
    width: 200px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
.popup .popuptex {
    visibility: hidden;
    width: 300px;
    color: #fff;
    border-radius: 6px;
    position: absolute;
    right: -290px;
    top: 95px;

  }
  
  /* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s, fadeOut 1s;
    animation: fadeIn 1s, fadeOut 1s;
  }
.imghowtop  {
    border-radius: 10px;

}
div.node {
  display: inline-block;
  font-size: 0;
  width: 30px;
  height: 30px;
  color: #FAFAFA;
  border: none;
  border-radius: 30px;
  margin: 5px;
}

div.node:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(88, 88, 88, 0.24), 0px 10px 10px 0 rgba(105, 105, 105, 0.19);
}
div.node:active {
  border: none;
}
.tableOfColor{
  position: absolute;
  left:-5%;
  top: 13%;
  width: 50px;
}
input:hover {
  background-color: rgb(255, 219, 219);
  cursor: pointer;
}

td:nth-child(3n) .nonboder {
  border-right: 0px solid rgb(133, 133, 133);
}

/* tr:first-child .ccc{
  border-top: 2px solid rgb(129, 129, 129);
} */

tr:nth-child(3n) .nonboder {
  border-bottom: 0px solid rgb(129, 129, 129);
}