/* td:first-child  {
    border-left: 2px solid rgb(128, 128, 128);

} */

td:nth-child(3n)  {
    border-right: 2px solid rgb(133, 133, 133);
}

/* tr:first-child .ccc{
    border-top: 2px solid rgb(129, 129, 129);
} */

tr:nth-child(3n)  {
    border-bottom: 2px solid rgb(129, 129, 129);
}
