.row {
    display: flex;
    justify-content: center;
    flex-direction: row;



}

.cent {
    display: flex;
    justify-content: center;
    text-align: center;

    /* flex-direction: column; */

}
.cent.left{
    
    position: absolute;
    left: 15%;
    top:-5%;
}
.footerleft{
    margin-top: 0.5rem;
    margin-left: 22%;
}

.col {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.home {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0.5rem;
}

.bodyContainer {
    height: 100%;
    flex: 1;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 3rem
}
.bodyPlaygame{
    flex:2;
    height: 600px;
    padding-top: 600px;
    justify-content: space-between;
    
}

.containerCenter {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
}

.textContainer {
    max-width: 700px;
}

.footerContainer {
    display: flex;
    justify-content: center;
}

p {

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 2px;

}
h1 {
    text-align: left;
    color: rgb(104, 103, 103);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.8rem;
    margin-bottom: 0;
    margin-top: 30px;
}

h1 .homepage {

    margin-left: 2rem;

}


i {
    margin: 1rem;
}

.roww {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 100px;
    margin-left: 90px;
}

table {
    border: 4px solid rgb(131, 131, 131);
    margin: 0.5rem;
    background-color: rgb(133, 132, 132);
    border-collapse: collapse;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.play {
    margin-top: 3rem;
    margin-left: 1rem;
}

.playin {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 1rem;
}

td {
    /* border: 0.5px solid #747373; */
    width: 40px;
    height: 40px;
}

tr {
    border: 0;
}


input .nor:hover {
    background-color: rgb(255, 209, 209);
    cursor: pointer;
}

input {

    height: 40px;
    width: 40px;
    border: 0px;
    text-align: center;
    font-size: 20px;
    margin-right: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
input.fileElement{
    margin-top: 2rem;
    height: 40px;
    width: 100px;


}
input.fileElement:hover{
    background-color: white;
}
.inputfile {

	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(65, 65, 65);
    background-color: rgb(252, 252, 252);
    display: block;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    border-color: rgb(75, 75, 75);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 24px;
    padding: 15px 30px;
    width: 77px;
    word-wrap: initial;
    
}
.inputfile + label:hover {
    cursor: pointer;
    box-shadow: 0 10px 10px 0 rgba(88, 88, 88, 0.24), 0 10px 10px 0 rgba(105, 105, 105, 0.19);
}


.xsu,
.win {
    background-color: #c0bfbf;
}

button.select {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;

    background-color: #0277BD;
    color: #FAFAFA;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 25px;
    padding: 15px 30px;
    width: 140px;
    
}

button.select:hover {
    cursor: pointer;
    box-shadow: 0 10px 10px 0 rgba(88, 88, 88, 0.24), 0 10px 10px 0 rgba(105, 105, 105, 0.19);
}

button.select:disabled {
    opacity: 0.2;
}
button.select.show {
    color: black;
    background-color: #70f5df;
    width: 160px;
}

button.clear {

    color: black;
    background-color: #D32F2F;
}

button.undo {

    color: black;
    background-color: #FBC02D;

}

button.solve {
    background-color: #4CAF50;
    /* padding-left: 30px;
    padding-right: 30px; */

}

button.check {
    background-color: #03A9F4;
    /* padding-left: 30px;
    padding-right: 30px; */

}

h3 {

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: rgb(70, 70, 70);
    margin: 0.5rem;

}

a {
    text-decoration: none;
}

h3:hover {
    color: rgb(255, 122, 122);
}

.imgCard {
    width: 40%;
    margin-top: 10px;

}

.imgOutro {
    margin-top: 0.2rem;
    margin-left: 0.4rem;
    max-width: 45px;
}

.card {
    display: block;
    transition: width 0.1s, height 0.1s;
    width: 240px;
    /* margin: 0.2rem ; */
    margin: 0.2rem;

}

.container {
    display: block;
    text-align: center;
    flex-direction: row;
    width: 300px;
    height: 100px;

}

.card:hover {
    box-shadow: 0 10px 10px 0 rgba(88, 88, 88, 0.24), 0 0 5px 0px rgba(105, 105, 105, 0.19);
    color: rgb(216, 24, 24)
}

.linkBS {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    width: initial;
    /* margin-left: auto;
    margin-right: auto; */
}

.footnote {
    margin-top: 50px;

}

.fixed {
    font-weight: bold;
    color: #00838F;
    background-color: rgb(255, 255, 255);
}

.result {
    color: rgb(255, 255, 255);
}

.isFixed {
    background-color: rgb(255, 234, 234);
}
.isInput{
    font-weight: bold;
    color: rgb(218, 28, 28);
}
.conflict {
    font-weight: bold;
    color: rgb(202, 22, 22);
    border: rgb(223, 29, 29);

}

.solved-appear {
    opacity: 0.01;
}

.solved-appear.solved-appear-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}


/* Popup container - can be anything you want */
.popup {

    display: block;
    flex-direction: column;
    text-align: center;
    width: 200px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    color: #fff;
    border-radius: 6px;
    position: absolute;
    right: -350px;
    top: 95px;


  }
  
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s, fadeOut 1s;
    animation: fadeIn 1s, fadeOut 1s;
  }
.imghowtop  {
    border-radius: 10px;

}


  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }